<?xml version="1.0" encoding="utf-8"?>
<sqlMapConfig
	xmlns="http://ibatis.apache.org/dataMapper"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<settings>
		<setting useStatementNamespaces="true"/>
	</settings>

	<providers resource="providers.config"/>

	<!-- mysql -->
	<database>
		<provider name="MySql"/>
		<dataSource name="master" connectionString="Server=192.168.177.93;Port=3306;Database=master;Uid=master;Pwd=masterpass;Allow User Variables=True;Character Set=utf8;" />
	</database>
	<sqlMaps>
		<sqlMap embedded="Saturn.Tools.Master.dbmap.machine.xml, saturn.tools.master" />
		<sqlMap embedded="Saturn.Tools.Master.dbmap.gamegroup.xml, saturn.tools.master" />
		<sqlMap embedded="Saturn.Tools.Master.dbmap.common.xml, saturn.tools.master" />
		<sqlMap embedded="Saturn.Tools.Master.dbmap.data.xml, saturn.tools.master" />
		<sqlMap embedded="Saturn.Tools.Master.dbmap.automation.xml, saturn.tools.master" />
		<sqlMap embedded="Saturn.Tools.Master.dbmap.operation.xml, saturn.tools.master" />
	</sqlMaps>
</sqlMapConfig>
